*{
	margin:0px;
	padding:0px;
	
}
html{
background-image: url(img/Fondo1.jpg);
}

#cabecera{
	float:left;
	height: 90px;
	width: 320px;
	background-image: url(img/k-logo.png);
	background-size: 100% 100%;
}

header, section, footer, aside, nav, article, hgroup{
	display:block;
}


#contenedor{
	width: 100%;	
	text-align:left;
}

#menu_entero{
    margin-bottom: -30px;
}

.limpiador{
	clear:both;
}

#redes_menu{
	clear:both;
	padding-left: 100px;
	float:right;
	color:white;
}

#redes_menu li{
	display:inline-block;
	/*padding:10px;*/
	/*margin-left: 40px;*/
	font:bold 25px Tahoma;
}

#top_menu{
	float:right;
	padding-top:10px;
	padding-right: 100px;
	color:#FFFFFF;
	font-family: 'Shadows Into Light', cursive ;
}

#top_menu li{
	display:inline-block;
	text-align:rigth;
	padding-right:40px;

	text-align:center;
}


#menu-fondo-fijo {
	box-shadow: 0px 0px 70px 9px rgba(119, 119, 119, 0.75);
	-moz-box-shadow: 0px 0px 70px 9px rgba(119, 119, 119, 0.75);
	-webkit-box-shadow: 0px 0px 70px 9px rgba(119, 119, 119, 0.75);
	font-family: 'Shadows Into Light', cursive ;
	opacity: 0.8;
	padding-bottom: 10px;
	width:100% ; height:30px ; position:fixed ; bottom:0 ; right:0 ; left:0 ; overflow:visible ; background-color:black ; text-align:center ; -moz-border-radius: 5px 5px 5px 5px;
  	border-radius: 5px 5px 5px 5px;
  	-webkit-border-radius: 5px 5px 5px 5px;
	border:1px solid #000000;
}

#menu-fondo-fijo li{
	display:inline-block;
	text-align:rigth;
	padding-right:70px;
	color:white;
	text-align:center;
}

#menu-fondo-fijo:hover{
	-webkit-transition: all 2s ease;
	-moz-transition: all 2s ease;
	-ms-transition: all 2s ease;
	transition: all 2s ease; 
	text-align:center;
	opacity: 1.0;
}

#menu-fondo-fijo li:hover{
	color:#FC0505; 
}

#the_footer{
	clear: both;
	text-align:center;
	color:white;
	padding:65px;	
}

#twitter{
	float: left;
}

#facebook{
	float: right;
}